<h1 class="product-slogan"
    style="margin: 10px 0px 26px; padding: 0px; border: 0px; font-weight: normal; font-stretch: inherit; font-size: 26px; line-height: 34px;">
    ASUS Turbo GeForce<span
        style="margin: 0px; padding: 0px; border: 0px; font-style: inherit; font-variant: inherit; font-weight: inherit; font-stretch: inherit; font-size: 19.5px; line-height: 0; font-family: inherit; vertical-align: baseline; position: relative; top: -0.5em;">®</span>&nbsp;GTX
    1080 graphics deliver the sweet spot of performance</h1>
<div class="product-intro"
     style="margin: 0px 0px 10px; padding: 0px; border: 0px; font-stretch: inherit; line-height: 20px;">
    <ul style="margin: 0px 0px 10px 19px; padding: 0px; border: 0px; font-style: inherit; font-variant: inherit; font-weight: inherit; font-stretch: inherit; font-size: inherit; line-height: inherit; font-family: inherit; vertical-align: baseline; list-style-image: url(;">
        <li><strong
                style="margin: 0px; padding: 0px; border: 0px; font-style: inherit; font-variant: inherit; font-stretch: inherit; font-size: inherit; line-height: inherit; font-family: inherit; vertical-align: baseline;">Dual-ball
            Bearing Fan</strong>&nbsp;runs smoother by reducing friction, further improving 4X longer card &nbsp;lifespan
            and cooling efficiency.
        </li>
        <li><strong
                style="margin: 0px; padding: 0px; border: 0px; font-style: inherit; font-variant: inherit; font-stretch: inherit; font-size: inherit; line-height: inherit; font-family: inherit; vertical-align: baseline;">Industry
            Only Auto-Extreme Technology with Super Alloy Power II</strong>&nbsp;delivers premium quality and best
            reliability.
        </li>
        <li><strong
                style="margin: 0px; padding: 0px; border: 0px; font-style: inherit; font-variant: inherit; font-stretch: inherit; font-size: inherit; line-height: inherit; font-family: inherit; vertical-align: baseline;">VR-friendly
            HDMI Ports</strong>&nbsp;for immersive virtual reality experiences.
        </li>
        <li><strong
                style="margin: 0px; padding: 0px; border: 0px; font-style: inherit; font-variant: inherit; font-stretch: inherit; font-size: inherit; line-height: inherit; font-family: inherit; vertical-align: baseline;">Customizable
            Backlit Logo</strong>&nbsp;gives your system a truly unique look with your own LED backlit logo design.
        </li>
        <li><strong
                style="margin: 0px; padding: 0px; border: 0px; font-style: inherit; font-variant: inherit; font-stretch: inherit; font-size: inherit; line-height: inherit; font-family: inherit; vertical-align: baseline;">GPU
            Tweak II with Xsplit Gamecaster</strong>&nbsp;provides intuitive performance tweaking and instant gameplay
            streaming.
        </li>
        <li><strong
                style="margin: 0px; padding: 0px; border: 0px; font-style: inherit; font-variant: inherit; font-stretch: inherit; font-size: inherit; line-height: inherit; font-family: inherit; vertical-align: baseline;">NVIDIA
            ANSEL</strong>&nbsp;for a revolutionary new way to capture in-game screenshots.
        </li>
        <li><strong
                style="margin: 0px; padding: 0px; border: 0px; font-style: inherit; font-variant: inherit; font-stretch: inherit; font-size: inherit; line-height: inherit; font-family: inherit; vertical-align: baseline;">NVIDIA
            GameWorks™</strong>&nbsp;provides an interactive and cinematic experience, as well as incredibly smooth
            gameplay.<img
                    src="https://www.asus.com/media/global/products/uArZ5sAG3hEX72KU/P_setting_fff_1_90_end_500.png"
                    alt="TURBO-GTX1080-8G"></li>
    </ul>
    <div class="span5 down_2"
         style="margin: 40px 0px 0px; padding: 0px; border: 0px; font-stretch: inherit; line-height: 18px; vertical-align: baseline; float: left; width: 360.799px; min-height: 30px; box-sizing: border-box; color: #888888;">
        <h2 class="vga-title"
            style="margin: 10px 0px; padding: 0px; border: 0px; font-style: inherit; font-variant: inherit; font-stretch: inherit; font-size: 34px; line-height: 40px;">
            Perfect Your Build</h2>
        <p class="vga-entry"
           style="margin: 0px; padding: 0px; border: 0px; font-style: inherit; font-variant: inherit; font-weight: inherit; font-stretch: inherit; font-size: inherit; line-height: inherit; font-family: inherit; vertical-align: baseline;">
            ASUS Turbo GeForce® GTX 1080 comes equipped with a dual ball-bearing fan for a 4X longer card lifespan and
            exclusive Auto-Extreme Technology with Super Alloy Power II components for superior stability. Customizable
            backlit logo enables a system personalization and VR-friendly HDMI ports let gamers easily enjoy immersive
            virtual reality experiences. ASUS Turbo GeForce® GTX 1080 also has GPU Tweak II with XSplit Gamecaster that
            provides intuitive performance tweaking and instant gameplay streaming.</p>
    </div>
    <div class="span7"
         style="margin: 0px 0px 0px 18.7153px; padding: 0px; border: 0px; font-stretch: inherit; line-height: 18px; vertical-align: baseline; float: left; width: 492.795px; min-height: 30px; box-sizing: border-box; color: #888888;">
        <img style="margin: 0px; padding: 0px; border: none; font-style: inherit; font-variant: inherit; font-weight: inherit; font-stretch: inherit; font-size: inherit; line-height: inherit; font-family: inherit; vertical-align: middle; height: auto; max-width: none;"
             src="https://www.asus.com/websites/global/products/uArZ5sAG3hEX72KU/img/TURBO-GTX1080-8G_2D_500.png" alt=""
             border="0"></div>
    <div class="span7"
         style="margin: 0px 0px 0px 18.7153px; padding: 0px; border: 0px; font-stretch: inherit; line-height: 18px; vertical-align: baseline; float: left; width: 492.795px; min-height: 30px; box-sizing: border-box; color: #888888;">
        &nbsp;</div>
    <div class="span7"
         style="margin: 0px 0px 0px 18.7153px; padding: 0px; border: 0px; font-stretch: inherit; line-height: 18px; vertical-align: baseline; float: left; width: 492.795px; min-height: 30px; box-sizing: border-box; color: #888888;">
        <h2 class="vga-title"
            style="margin: 10px 0px; padding: 0px; border: 0px; font-stretch: inherit; font-size: 34px; line-height: 40px;">
            Dual-Ball Bearing Fan</h2>
        <h3 class="vga-mini-title"
            style="margin: 10px 0px; padding: 0px; border: 0px; font-stretch: inherit; font-size: 16px; line-height: 1;">
            4X longer lifespan</h3>
        <p class="vga-entry"
           style="margin: 0px; padding: 0px; border: 0px; font-stretch: inherit; vertical-align: baseline; background-color: #f4f4f4;">
            Without the problem of oil drying common in sleeve-bearing fans, the dual-ball bearing fan on ASUS Turbo
            GeForce® GTX 1080 lasts 4X longer. With reduced friction, it also runs smoother, further improving card
            lifespan and cooling efficiency.</p>
        <p class="vga-entry"
           style="margin: 0px; padding: 0px; border: 0px; font-stretch: inherit; vertical-align: baseline; background-color: #f4f4f4;">
            &nbsp;</p>
        <p class="vga-entry"
           style="margin: 0px; padding: 0px; border: 0px; font-stretch: inherit; vertical-align: baseline; background-color: #f4f4f4;">
            <img src="https://www.asus.com/websites/global/products/uArZ5sAG3hEX72KU/img/TURBO-GTX1080-8G_3D.png" alt=""
                 border="0"></p>
        <div class="span6"
             style="margin: 0px; padding: 0px; border: 0px; font-stretch: inherit; vertical-align: baseline; float: left; width: 430.625px; min-height: 30px; box-sizing: border-box; color: #333333;">
            <h2 class="vga-title"
                style="margin: 10px 0px; padding: 0px; border: 0px; font-style: inherit; font-variant: inherit; font-stretch: inherit; font-size: 34px; line-height: 40px;">
                Auto-Extreme Technology with&nbsp;Super Alloy Power II</h2>
            <h3 class="vga-mini-title"
                style="margin: 10px 0px; padding: 0px; border: 0px; font-style: inherit; font-variant: inherit; font-stretch: inherit; font-size: 16px; line-height: 1;">
                Premium quality and best reliability</h3>
            <p class="vga-entry"
               style="margin: 0px; padding: 0px; border: 0px; font-style: inherit; font-variant: inherit; font-weight: inherit; font-stretch: inherit; font-size: inherit; line-height: inherit; font-family: inherit; vertical-align: baseline; color: #888888;">
                ASUS graphics cards are produced using Auto-Extreme technology, an industry-first 100% automated
                production process, and feature premium Super Alloy Power II components that enhance efficiency, reduce
                power loss, decrease component buzzing under load, and lower thermal temperatures for unsurpassed
                quality and reliability.</p>
            <br>
            <div class="span7 down_1"
                 style="margin: 20px 0px 0px; padding: 0px; border: 0px; font-stretch: inherit; vertical-align: baseline; float: left; width: 505.521px; min-height: 30px; box-sizing: border-box; background-color: #f4f4f4;">
                <img style="margin: 0px; padding: 0px; border: none; font-style: inherit; font-variant: inherit; font-weight: inherit; font-stretch: inherit; font-size: inherit; line-height: inherit; font-family: inherit; vertical-align: middle; height: auto; max-width: none;"
                     src="https://www.asus.com/websites/global/products/uArZ5sAG3hEX72KU/img/VR-FRIENDLY-HDMI-PORTS.jpg"
                     alt="" border="0"></div>
            <div class="span5"
                 style="margin: 0px 0px 0px 18.7153px; padding: 0px; border: 0px; font-stretch: inherit; vertical-align: baseline; float: left; width: 355.729px; min-height: 30px; box-sizing: border-box; background-color: #f4f4f4;">
                <h2 class="vga-title"
                    style="margin: 10px 0px; padding: 0px; border: 0px; font-style: inherit; font-variant: inherit; font-stretch: inherit; font-size: 34px; line-height: 40px;">
                    VR-Friendly HDMI Ports</h2>
                <h3 class="vga-mini-title"
                    style="margin: 10px 0px; padding: 0px; border: 0px; font-style: inherit; font-variant: inherit; font-stretch: inherit; font-size: 16px; line-height: 1;">
                    Enjoy immersive virtual reality experience</h3>
                <p class="vga-entry"
                   style="margin: 0px; padding: 0px; border: 0px; font-style: inherit; font-variant: inherit; font-weight: inherit; font-stretch: inherit; font-size: inherit; line-height: inherit; font-family: inherit; vertical-align: baseline; color: #888888;">
                    ASUS Turbo GeForce<span
                        style="margin: 0px; padding: 0px; border: 0px; font-style: inherit; font-variant: inherit; font-weight: inherit; font-stretch: inherit; font-size: 9px; line-height: 0; font-family: inherit; vertical-align: baseline; position: relative; top: -0.5em;">®</span>&nbsp;GTX
                    1080 graphics cards have two HDMI ports for connecting a VR device and display at the same time, so
                    you can enjoy immersive virtual reality experiences anytime without having to swap cables.</p>
                <div class="span6 down_2"
                     style="margin: 40px 0px 0px; padding: 0px; border: 0px; font-stretch: inherit; vertical-align: baseline; float: left; width: 430.625px; min-height: 30px; box-sizing: border-box; background-color: #ffffff;">
                    <h2 class="vga-title"
                        style="margin: 10px 0px; padding: 0px; border: 0px; font-style: inherit; font-variant: inherit; font-stretch: inherit; font-size: 34px; line-height: 40px;">
                        Customizable&nbsp;<br>Backlit Logo</h2>
                    <h3 class="vga-mini-title"
                        style="margin: 10px 0px; padding: 0px; border: 0px; font-style: inherit; font-variant: inherit; font-stretch: inherit; font-size: 16px; line-height: 1;">
                        An unique look for your system</h3>
                    <p class="vga-entry"
                       style="margin: 0px; padding: 0px; border: 0px; font-style: inherit; font-variant: inherit; font-weight: inherit; font-stretch: inherit; font-size: inherit; line-height: inherit; font-family: inherit; vertical-align: baseline; color: #888888;">
                        ASUS Turbo GeForce<span
                            style="margin: 0px; padding: 0px; border: 0px; font-style: inherit; font-variant: inherit; font-weight: inherit; font-stretch: inherit; font-size: 9px; line-height: 0; font-family: inherit; vertical-align: baseline; position: relative; top: -0.5em;">®</span>&nbsp;GTX
                        1080 comes with an LED backlit ASUS logo that you can swap with your own custom design for a
                        truly unique look.</p>
                </div>
                <div class="span5"
                     style="margin: 0px 0px 0px 18.7153px; padding: 0px; border: 0px; font-stretch: inherit; vertical-align: baseline; float: left; width: 355.729px; min-height: 30px; box-sizing: border-box; background-color: #ffffff;">
                    <img class="center"
                         style="margin: 0px auto; padding: 0px; border: none; font-style: inherit; font-variant: inherit; font-weight: inherit; font-stretch: inherit; font-size: inherit; line-height: inherit; font-family: inherit; vertical-align: middle; height: auto; display: block; max-width: none;"
                         src="https://www.asus.com/websites/global/products/uArZ5sAG3hEX72KU/img/ASUS-logo.jpg" alt=""
                         border="0"></div>
            </div>
        </div>
        <div><span class="notice"
                   style="margin: 0px 0px 1em; padding: 0.8em; border: 0px; font-style: inherit; font-variant: inherit; font-weight: inherit; font-stretch: inherit; font-size: 11px; line-height: inherit; font-family: inherit; vertical-align: baseline; color: #666666;">&nbsp;</span>
        </div>
    </div>
</div>